/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font-family: 'IBM Plex mono', sans-serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-text-color: #ff0070;
  --accent-bg-color: #ff0070;
  --content-font-size: 18px;
  --content-text-color: #F1B2CE;
  --title-text-color: #000028;
  --line-height: 23.4px;
  --margin-padding: 10px;
  --color-header-footer: #db00ff;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .accent-theme-dark,
.theme-dark .accent-theme-dark::after {
 display: flex;
}

.theme-dark .header__theme-menu-button:hover {
  outline: none;
  border: 1px solid rgba(255, 0, 112, 0.4);
}

@media (width >= 750px) {
  :root.theme-dark {
    --margin-padding: 20px;
  }
}