/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  padding: var(--margin-padding);
}

.accent-theme-dark {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-text-color);
  display: flex;
  gap: 13px;
  text-transform: uppercase;
  line-height: 25px;
}

.accent-theme-dark::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-bg-color);
  box-shadow: 0px 0px 4px 2px var(--accent-bg-color);
  align-self: center;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-text-color);
  border-right: 1px solid var(--accent-text-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
  /*align-self: flex-end;*/
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--accent-text-color);
  border: none;
  background-color: transparent;
  font-family: var(--font-family), monospace;
  text-transform: lowercase;
  font-size: var(--content-font-size);
  line-height: 18px;
  padding-inline: 13px;
  align-self: center;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: none;
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-text-color);
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border: 1px solid var(--accent-text-color);
}

.header__title {
  grid-row: 2;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  line-height: 83%;
  color: var(--color-header-footer);
  text-shadow: 4px 4px 0 var(--accent-bg-color);
}

.text-decor {
  grid-row: 3;
  font-size: var(--content-font-size);
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-bg-color);
  height: min-content;
  line-height: var(--line-height);
  align-self: center;
  color: var(--title-text-color);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  padding-inline: var(--margin-padding);
  padding-block: 40px;
  gap: 50px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.content__section-title {
  font-family: var(--font-family), monospace;
  font-size: var(--content-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--accent-text-color);
  line-height: var(--line-height);
}

.content__text-title {
  font-family: var(--font-family), monospace;
  font-size: var(--content-font-size);
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-bg-color);
  line-height: var(--line-height);
  color: var(--title-text-color);
  height: min-content;
}

.content__text-accent {
  background-color: var(--accent-bg-color);
  font-weight: var(--font-weight-regular);
  color: var(--title-text-color);
  font-size: var(--content-font-size);
}

.content__text {
  font-family: var(--font-family), monospace;
  font-size: var(--content-font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  color: var(--content-text-color);
}

article p a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-bg-color);
}

a:hover {
  outline: none;
  border-bottom: 1px solid var(--content-text-color);
}

a:focus {
  outline: none;
  border: 1px solid var(--content-text-color);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 668px;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-header-footer);
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-bg-color);
  margin: var(--margin-padding);
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family), monospace;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media (width >= 750px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: var(--margin-padding);
  }
  
  .accent-theme-dark {
    top: 20px;
    right: 28px;
  }
  
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
   }

  .text-decor {
    grid-column: 2;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-block: 60px;
    gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .content__section-why .content__section-title {
    
    /*grid-row-start: 1;
    grid-row-end: 3;*/
  }

  .content__section-what .content__section-title {
    grid-column-start: 1;
    grid-column-end: auto;
  }

  .content__section-what .article {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .content__section-how .content__section-title {
    /*grid-row: 1 / 7;*/
    column-gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .gallery .content__text-title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .image__sunset {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .image__tape {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .image__ice-creame {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .image__book {
    grid-column: 2;
    grid-row: 3;
  }

  .image__street {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1000px) {
  .header__theme-menu {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .content__section-what {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: min-content;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .content__section-what .content__section-title {
    grid-row: 1;
    grid-column: 1 / -1;
    width: 315px;
  }

  .content__section-what .article {
   grid-column: auto;
  }
}